[proxmox_master]
pve1 ansible_host=10.10.10.10

[proxmox_slave]
pve2 ansible_host=10.10.10.11
pve3 ansible_host=10.10.10.12

[proxmox:children]
proxmox_master
proxmox_slave

[proxmox:vars]
ansible_port=22
ansible_user=root
ansible_ssh_private_key_file=~/.ssh/id_ed25519.pem
