[pve_master]
pve1 ansible_host=10.10.10.10

[pve_slave]
pve2 ansible_host=10.10.10.11
pve3 ansible_host=10.10.10.12

[pve:children]
proxmox_master
proxmox_slave

[pve:vars]
ansible_port=22
ansible_user=root
ansible_ssh_private_key_file=~/.ssh/id_ed25519.pem

[pbs]
pbs1 ansible_host=10.10.10.250

[pbs:vars]
ansible_port=22
ansible_user=root
ansible_ssh_private_key_file=~/.ssh/id_ed25519.pem
